
  .row {
    display: flex;
  }
  
  .column-left {
    flex: 40%;
    padding: 8px;
  }

  /* Create two equal columns that sits next to each other */
  .column-right {
    flex: 60%;
    padding: 8px;
  }

.contrast-label {
  line-height: 85px; 
  height: 85px; 
  text-align: center;
}

.contrastContainer {
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

#contentArea{
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}